//        db                 88                      88              
//       d88b                88                      ""              
//      d8'`8b               88                                    
//     d8'  `8b      ,adPPYb,88  88,dPYba,,adPYba,   88  8b,dPPYba,   
//    d8YaaaaY8b    a8"    `Y88  88P'   "88"    "8a  88  88P'   `"8a  
//   d8""""""""8b   8b       88  88      88      88  88  88       88  
//  d8'        `8b  "8a,   ,d88  88      88      88  88  88       88  
// d8'          `8b  `"8bbdP"Y8  88      88      88  88  88       88 

#admin-nav {
    text-align: center;
    width: 100%;

    h1 {
        padding: 40px 0 20px 0;
    }

    button {
        margin: 0 20px;
    }
}

.admin-page {
    background-color: #f9f9f9;
    color: $dark-grey;
}

.admin-section {
    width: 100%;
    
    fieldset {
        width: 70%;
        margin: auto;

        .column {
            width: 40%;
            float: left;
            padding: 5%;
        }
    }
}

.save {
    text-align: center;
}

.hoursRow {
    width: 100%;

    .hoursColumn {
        float: left;

        &:nth-of-type(1) {
            width: 120px;
            margin-right: 5px;
        }

        &:nth-of-type(2) {
            width: 35px;
            margin-right: 5px;
        }

        &:nth-of-type(3) {
            width: 30px;
            margin-right: 15px;
        }

        &:nth-of-type(4) {
            width: 8px;
            margin-right: 15px;
        }

        &:nth-of-type(5) {
            width: 30px;
        }
    }
}

#id {
    opacity: 0;
    pointer-events: none;
}

.delete-btn {
    padding: 10px 4px;
    border-radius: 5px;
    color: $white;
    background-color: $grey;

    &:hover {
        background-color: darkred;
    }
    
    p {
        line-height: 14px;
        font-family: $font-body;
        margin: 0;
    }

    @include shadow-slim
}

#edit-activity {
    height: 300px;
    width: 100%;
    border: 2px solid $light-grey;
    overflow-y: scroll;

    article {
        height: 30px;
        background-color: #f0f0f0;
        border: 2px solid $white;

        :hover {
          background-color: $sky;  
        }

        h6 {
            line-height: 26px;
            font-size: 16px;
            font-family: $font-title;
            padding: 2px 8px;
        }
    }
}