//   ,ad8888ba,                88                                               
//  d8"'    `"8b               88                                               
// d8'                         88                                               
// 88              ,adPPYba,   88   ,adPPYba,   88       88  8b,dPPYba,  ,adPPYba,  
// 88             a8"     "8a  88  a8"     "8a  88       88  88P'   "Y8  I8[    ""  
// Y8,            8b       d8  88  8b       d8  88       88  88           `"Y8ba,   
//  Y8a.    .a8P  "8a,   ,a8"  88  "8a,   ,a8"  "8a,   ,a88  88          aa    ]8I  
//   `"Y8888Y"'    `"YbbdP"'   88   `"YbbdP"'    `"YbbdP'Y8  88          `"YbbdP"'

// MAIN COLOURS
$brown: #c8956f;
$sand: #ccc3a5;
$sky: #cbdcf0;
$ocean: #8e97b5;
$mint: #93a06f;
$green: #6b8240;
$holly: #404d34;
$white: #ffffff;
$light-grey: #cccccc;
$grey: #bcbcbc;
$dark-grey: #555555;
$black: #000000;

// CATEGORISATION COLOURS
$dining: $sky;
$city: #df824e;
$outdoor: $green;
$amusement: #f6c14d;
$learning: $brown;
$active: #a598d9;