// 88888888888                                               88888888ba                                     
// 88                                              ,d        88      "8b                                    
// 88                                              88        88      ,8P                                    
// 88aaaaa  8b,dPPYba,   ,adPPYba,   8b,dPPYba,  MM88MMM     88aaaaaa8P'  ,adPPYYba,   ,adPPYb,d8   ,adPPYba,  
// 88"""""  88P'   "Y8  a8"     "8a  88P'   `"8a   88        88""""""'    ""     `Y8  a8"    `Y88  a8P_____88  
// 88       88          8b       d8  88       88   88        88           ,adPPPPP88  8b       88  8PP"""""""  
// 88       88          "8a,   ,a8"  88       88   88,       88           88,    ,88  "8a,   ,d88  "8b,   ,aa  
// 88       88           `"YbbdP"'   88       88   "Y888     88           `"8bbdP"Y8   `"YbbdP"Y8   `"Ybbd8"'  
//                                                                                     aa,    ,88             
//                                                                                      "Y8bbdP"              

.lang-option {
    margin-left: 20px;
}

#weather {
    background-color: $sky;
    height: 400px;
    width:100%;
}

#foreground {
    width: 100%;
    height: 0;
    float: left;
}

#house {
    height: 350px;
    width: 35%;
    float: left;
    position: relative;
    top: -349px;
    left: 45px;
    background-image: url('../media/house.svg');
    background-size: contain;
    background-position: left bottom;
    background-repeat: no-repeat;
}

#review {
    height: 200px;
    width: 17%;
    float: right;
    position: relative;
    top: -199px;
    right: 90px;
    background-image: url('../media/review.svg');
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.introduction {
    width: 800px;
    padding-right: 45px;
}

.filter-section {
    height: 100%;
    padding-top: 90px;
}

.question {
    margin-bottom: 60px;

    video {
        padding-top: 60px;
        width: 100%;
    }
}

#q1, #q2 {
    input {
        height: 26px;
    }
}

#q3, #q4 {
    table {
        text-align: center;
    
        td {
            text-align: center;
            width: 100px;
        }
    
        input[type=radio] {
            display: block;
            margin: auto;
            margin-bottom: 10px;
        }
    }
}

@include media(">phone", "<tablet") {
    #weather {
        height: 200px;
    }

    #review-sign {
        display: none;
    }

    #house {
        width: 100%;
        left: 0;
        height: 100px;
        top: -99px;
        background-position: center;
    }

    .introduction {
        p {
            font-size: 18px;
        }
    }

    .question {
         div {
            display: block;
            width: 100%;
            float: none;
        }

        p {
            font-size: 18px;
        }
    }
}

@include media(">tablet") {
    .question {
        min-height: 60vh;
        display: flex;
        align-content: space-around;
        margin-bottom: 180px;
    
        div:nth-of-type(1) {
            width: 48%;
            float: left;
    
            p {
                max-width: 85%;
            }
        }
    
        div:nth-of-type(2) {
            width: 48%;
            float: left;
            height: 100%;
            align-self: flex-end;
            text-align: center;
        }
    
        video {
            padding: 0;
            width: 100%;
        }
    }
}