 //   ,ad8888ba,   88               88                       88  
 //  d8"'    `"8b  88               88                       88  
 // d8'            88               88                       88  
 // 88             88   ,adPPYba,   88,dPPYba,   ,adPPYYba,  88  
 // 88      88888  88  a8"     "8a  88P'    "8a  ""     `Y8  88  
 // Y8,        88  88  8b       d8  88       d8  ,adPPPPP88  88  
 //  Y8a.    .a88  88  "8a,   ,a8"  88b,   ,a8"  88,    ,88  88  
 //  `"Y88888P"    88   `"YbbdP"'   8Y"Ybbd8"'   `"8bbdP"Y8  88

// Titles: Palatino, Bold (Lora, 600)
// Headlines & buttons: Futura, Medium & Bold (Josefine Sans, 500)
// Body Text: Optima, Regular (Spartan)

// Variables
$font-title: 'Lora', serif;
$font-headline: 'Josefine Sans', sans-serif;
$font-body: 'Spartan', sans-serif;

// Styles
html {
    margin: 0;
    padding: 0;
    color: $dark-grey;
}

p {
    font-size: 24px;
    margin: 0 0 8px 0;
}

h1 {
    font-family: $font-title;
    font-weight: 600;
    margin: 0 0 8px 0;
}

h2 {
    font-family: $font-title;
    font-weight: 600;
    margin: 0 0 8px 0;
    font-size: 68px;
}

h3, h4 {
    font-family: $font-headline;
    font-weight: 700;
    margin: 0 0 8px 0;
    font-size: 28px;
}

h5 {
    font-family: $font-headline;
    font-weight: 700;
    margin: 0 0 8px 0;
    font-size: 22px;
}

h6, label {
    font-weight: 500;
    margin: 0 0 8px 0;
}

// ELEMENTS
html, body {
    height: 100%;
    width: 100%;
}

main {
    max-width: 100%;
}

.page-info {
    width: 100%;

    .first-column {
        width: 45%;
        float: left;
        margin-right: 25%;
    }

    .second-column {
        width: 30%;
        float: left;
    }
}

.btn {
    font-family: $font-headline;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    color: $white;
    background-color: $grey;
    @include shadow-slim
}

.btn-slim {
    font-family: $font-headline;
    font-weight: 500;
    font-size: 18px;
    padding: 6px 30px;
    border-radius: 5px;
    color: $white;
    background-color: $grey;
    @include shadow-slim
}

.btn:hover {
    background-color: $mint;
}

.btn-active {
    background-color: $green;
}

.hidden {
    display: none;
}