html {
  margin: 0;
  padding: 0;
  color: #555555;
  font-family: "Spartan", sans-serif;
}

h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  margin: 0 0 8px 0;
}

h2 {
  font-family: "Lora", serif;
  font-weight: 600;
  margin: 0 0 8px 0;
  font-size: 68px;
}

h3 {
  font-family: "Josefine Sans", sans-serif;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 28px;
}

h4 {
  font-family: "Josefine Sans", sans-serif;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 22px;
}

h5, label {
  font-family: "Josefine Sans", sans-serif;
  font-weight: 700;
  margin: 0 0 8px 0;
  font-size: 22px;
}

h6 {
  font-family: "Josefine Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 8px 0;
}

p {
  font-size: 14px;
  margin: 0 0 8px 0;
}

label {
  font-family: "Josefine Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin: 0 0 8px 0;
}

html, body {
  height: 100%;
  width: 100%;
}

main {
  max-width: 100%;
}

.page-info {
  width: 100%;
}
.page-info .first-column {
  width: 45%;
  float: left;
  margin-right: 25%;
}
.page-info .second-column {
  width: 30%;
  float: left;
}

.btn {
  font-family: "Josefine Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #bcbcbc;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn-slim {
  font-family: "Josefine Sans", sans-serif;
  font-weight: 500;
  font-size: 18px;
  padding: 6px 30px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #bcbcbc;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-color: #93a06f;
}

.btn-active {
  background-color: #6b8240;
}

.hidden {
  display: none;
}

#admin-nav {
  text-align: center;
  width: 100%;
}
#admin-nav h1 {
  padding: 40px 0 20px 0;
}
#admin-nav button {
  margin: 0 20px;
}

.admin-page {
  background-color: #f9f9f9;
  color: #555555;
}

.admin-section {
  width: 100%;
}
.admin-section fieldset {
  width: 70%;
  margin: auto;
}
.admin-section fieldset .column {
  width: 40%;
  float: left;
  padding: 5%;
}

.save {
  text-align: center;
}

.hoursRow {
  width: 100%;
}
.hoursRow .hoursColumn {
  float: left;
}
.hoursRow .hoursColumn:nth-of-type(1) {
  width: 120px;
  margin-right: 5px;
}
.hoursRow .hoursColumn:nth-of-type(2) {
  width: 35px;
  margin-right: 5px;
}
.hoursRow .hoursColumn:nth-of-type(3) {
  width: 30px;
  margin-right: 15px;
}
.hoursRow .hoursColumn:nth-of-type(4) {
  width: 8px;
  margin-right: 15px;
}
.hoursRow .hoursColumn:nth-of-type(5) {
  width: 30px;
}

#id {
  opacity: 0;
  pointer-events: none;
}

.delete-btn {
  padding: 10px 4px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #bcbcbc;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}
.delete-btn:hover {
  background-color: darkred;
}
.delete-btn p {
  line-height: 14px;
  font-family: "Spartan", sans-serif;
  margin: 0;
}

#edit-activity {
  height: 300px;
  width: 100%;
  border: 2px solid #cccccc;
  overflow-y: scroll;
}
#edit-activity article {
  height: 30px;
  background-color: #f0f0f0;
  border: 2px solid #ffffff;
}
#edit-activity article :hover {
  background-color: #cbdcf0;
}
#edit-activity article h6 {
  line-height: 26px;
  font-size: 16px;
  font-family: "Lora", serif;
  padding: 2px 8px;
}

#weather {
  background-color: #cbdcf0;
  height: 400px;
  width: 100%;
}

#foreground {
  width: 100%;
  height: 0;
  float: left;
}

#house {
  height: 350px;
  width: 35%;
  float: left;
  position: relative;
  top: -349px;
  left: 45px;
  background-image: url("../media/house.svg");
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}

#review {
  height: 200px;
  width: 17%;
  float: right;
  position: relative;
  top: -199px;
  right: 90px;
  background-image: url("../media/review.svg");
  background-size: contain;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.filter-section {
  height: 100%;
  padding-top: 90px;
}

.question {
  min-height: 60vh;
  display: flex;
  align-content: space-around;
  margin-bottom: 180px;
}
.question div:nth-of-type(1) {
  width: 48%;
  float: left;
}
.question div:nth-of-type(1) p {
  max-width: 85%;
}
.question div:nth-of-type(2) {
  width: 48%;
  float: left;
  height: 100%;
  align-self: flex-end;
  text-align: center;
}
.question video {
  width: 100%;
}

#banner {
  background-position: center;
  background-size: cover;
}

.map {
  background-color: #cbdcf0;
  height: 320px;
  width: 100%;
}

#map {
  min-height: 100%;
  top: 0;
  bottom: 0;
  width: 100%;
}

#return {
  background-color: #df824e;
}
#return a {
  color: #ffffff;
  text-decoration: none;
}

#expand-map {
  text-align: center;
}
#expand-map button {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 30px;
  border: 0px solid white;
  position: relative;
  top: -25px;
}

.expanded {
  height: 500px;
}

.rotate {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

p {
  font-size: 22px;
  line-height: 26px;
}

.first-column div {
  width: 45%;
  float: left;
}
.first-column div:nth-of-type(2) {
  width: 45%;
  padding-left: 45px;
  float: left;
}

.first-column-act {
  width: 70%;
  margin: 0;
}

.second-column {
  padding-top: 120px;
}
.second-column p {
  margin: 5px 5px 10.5px 5px;
}

.info-wrapper {
  width: 430px;
  border-radius: 30px;
  background-color: #fcfcfc;
  position: relative;
  top: -220px;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.info-wrapper .practical-info {
  width: 100%;
  border-radius: 30px 30px 0 0;
}
.info-wrapper .practical-info h3 {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
}
.info-wrapper .practical-info h4 {
  font-size: 26px;
  padding-left: 20px;
}
.info-wrapper .practical-info td, .info-wrapper .practical-info #comment {
  font-family: "Spartan", sans-serif;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
}
.info-wrapper .practical-info table {
  padding-bottom: 20px;
}
.info-wrapper .minimap {
  width: 100%;
  height: 150px;
  border-radius: 0 0 30px 30px;
}

.dining-bg {
  background-color: #cbdcf0;
}

.city-bg {
  background-color: #df824e;
}

.outdoor-bg {
  background-color: #6b8240;
}

.amusement-bg {
  background-color: #f6c14d;
}

.learning-bg {
  background-color: #c8956f;
}

.active-bg {
  background-color: #a598d9;
}

.result {
  padding: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cat-colour {
  height: 22px;
  width: 22px;
  border-radius: 15px;
  float: left;
  margin: 2px 0px 12.5px 10px;
  position: relative;
  bottom: -1px;
}
.cat-colour:nth-of-type(1) {
  background-color: #cbdcf0;
}
.cat-colour:nth-of-type(2) {
  background-color: #df824e;
}
.cat-colour:nth-of-type(3) {
  background-color: #6b8240;
}
.cat-colour:nth-of-type(4) {
  background-color: #f6c14d;
}
.cat-colour:nth-of-type(5) {
  background-color: #c8956f;
}
.cat-colour:nth-of-type(6) {
  background-color: #a598d9;
}

#activityGrid {
  height: 100%;
}

.activityCard {
  width: 350px;
  height: 470px;
  margin: 40px 40px 40px 0;
  background-size: auto 270px;
  border-radius: 28px;
  border: 2px solid #cccccc;
  float: left;
  -webkit-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}
.activityCard h4 {
  font-size: 40px;
  text-align: right;
  line-height: 46px;
}
.activityCard h5 {
  font-size: 32px;
  text-align: right;
  line-height: 36px;
}
.activityCard h6 {
  font-size: 28px;
}

.card-head {
  height: 220px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  border-right: inset 2px solid #cccccc;
  border-top: inset 2px solid #cccccc;
  border-left: inset 2px solid #cccccc;
  padding: 25px;
  color: #ffffff;
}

.card-description {
  height: 150px;
  background-color: #fafafa;
  border-radius: 0px 0px 25px 25px;
  border-right: inset 2px solid #cccccc;
  border-bottom: inset 2px solid #cccccc;
  border-left: inset 2px solid #cccccc;
  padding: 25px;
  color: #555555;
}
.card-description p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  font-size: 22px;
  line-height: 28px;
  margin-top: 12px;
}

.card-btn {
  height: 70px;
  width: 70px;
  border-radius: 50px;
  position: relative;
  top: -235px;
  left: 250px;
  -webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.2);
}

/*# sourceMappingURL=style.css.map */
